
{{ simple-filter filter=transaction_type changed="update" name="transaction_type" }}
{{ simple-filter filter=property_type changed="update" name="property_type" }}
{{ simple-filter filter=city_slug changed="update" name="city"}}
{{ simple-filter filter=zone_slug changed="update" name="zone"}}
{{ simple-filter filter=rooms changed="update" name="rooms"}}

<h1>{{ title }}</h1>
